.single-product {
    position: relative;
    z-index: 2;
    margin-left: -20rem;
    display: flex;

    &__specs {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;

        @include respond(phone) {
            flex-direction: column;
        }
    }

    &__info {
        padding: 1.6rem;
        background-color: $color-white;
        font-size: 1.6rem;
        width: calc(50% - 3.2rem);
        margin: 1.6rem;
        border-radius: .8rem;
        box-shadow: $box-shadow-xs;
        h3 {
            color: $color-secondary-light;
            font-size: 2rem;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        @include respond(phone) {
            margin: 0 0 1.6rem;
            width: 100%;
        
        }
    }

    @include respond(phone) {
        width: 100%;
        margin: 0;
        flex-direction: column;

        figure {
            img {
                width: 100%;
            }
        }
    }
}